<div class="container-fluid" style="background-color:#31006E; height: 120px;" >
  <img class="img-fluid d-block mx-auto col-lg-5 px-5" style="padding-top:2vh;max-height: 100%; max-width: 30%;" src="logoWhite.png"> 
</div>

<div class="container-fluid px-4 py-2" style="background-color:#7f37f3; height: 58px " >
  <button type="button" style="background-color:#5611BB; "class=" fw-bold btn text-white" id="leave-btn" onclick="menu()">Leave chat room</button>
    <h5 class="fw-bold text-white mt-2">BTS</h3> 
</div>


    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /> <button style="background-color:#5611BB" class=" fw-bold btn text-white p-2">Send</button>
    </form>
    
    <style>
      #leave-btn{
        float: right;
      }

      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #8B4BEF; padding: 10px; position: fixed; bottom: 0; width: 100%; border-style: none;}
      form input { padding: 15px; height: 40px; width: 85%; margin-right: .5%; }
      form button { width: 9%; background: #31006E; border: none; padding: 10px; margin-left: 2%; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 15px 20px; }
      #messages li:nth-child(odd) { background: #d8c3fa; }
      
  </style>

    <script>
            var socket = io.connect('http://localhost:8080');
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);

            function menu() {
              location.replace("/menu");
            }
    </script>
