@font-face {
	font-family: Patchwork;
	src: url(PatchworkStitchlingsColor.ttf);
}
@font-face {
	font-family: ArchivoMedium;
	src: url(Archivo-Medium.ttf);
}
@font-face {
	font-family: ArchivoSemiBold;
	src: url(Archivo-SemiBold.ttf);
}
@font-face {
	font-family: ProductSansBlack;
	src: url(ProductSans-Black.ttf);
}